@import "tailwindcss";

:root {
  --background: #e8e8e8;
  --foreground: #303030;
  --navcolor: #79afff;
  /* footercolor is the same as bg-blue-900 */
  --footercolor: #1e3a8a;
  --hovercolor: #cfcfcf;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #05074a;
    --foreground: #ffecec;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 12vh;
  font-weight: 800;
}

h2 {
  font-size: 6vh;
  font-weight: 700;
}

h3 {
  font-size: 4vh;
  font-weight: 500;
}

.dark-p {
  color: var(--background);
  font-weight: 500;
}

.nav-button {
  background: var(--background);
  font-size: medium;
  font-weight: 600;

  transition: background-color 0.2s ease, transform 0.1s ease;
}

.footer-button {
  background: var(--footercolor);
  color: var(--background);
  font-size: medium;
  font-weight: 600;

  padding: 12px;
  border-radius: 20px;

  transition: background-color 0.2s ease, transform 0.1s ease;
}

.next-btn, .prev-btn {
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.nav-button:hover {
  background: #bdd8ff;
}

.footer-button:hover {
  background: var(--background);
  color: var(--foreground);
}

.next-btn:hover, .prev-btn:hover {
  background: var(--hovercolor);
}

.swiper-pagination-bullet-active {
  background: var(--foreground) !important;
}
