@import "tailwindcss";

:root {
  --background: #bababa;
  --foreground: #1e0065;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #05074a;
    --foreground: #ffecec;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  /* padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 10vh;
  padding-right: 10vh; */
}

h1 {
  font-size: x-large
}

p {
  font-size: medium
}
